<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LocalDBConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MotorcycleDatabase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
		<add name="LocalDBEntityFrameworkConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MotorcycleDatabaseEF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</connectionStrings>
</configuration>